.landing-page {
  background-image: url(https://source.unsplash.com/1920x937/?diner,restaurant);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  right: 0;
  left: 0;
}

.landing {
  text-align: center;
  width: 35%;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: #1d1e2c;
}

.landing-header {
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: -25px;
}

.landing-text {
  font-size: 20px;
  font-weight: 400;
}

.landing-buttons {
  display: block;
  margin: 20px;
  widows: 100%;
}

.landing-button-left {
  float: left;
  cursor: pointer;
  color: white;
  background-color: #1d1e2c;
  margin-left: 100px;
  margin-bottom: 20px;
  width: 30%;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 500;
}

.landing-button-right {
  text-transform: uppercase;
  float: right;
  width: 30%;
  margin-right: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  background-color: #1d1e2c;
  border-radius: 6px;
  font-weight: 500;
}

.landing-button-right:hover {
  transform: translateY(-3px);
  color: #c1e0fe;
}

.landing-button-right:focus {
  outline: 0;
}

.landing-button-right:active {
  transform: translateY(-0.5px);
}

.landing-button-left:hover {
  transform: translateY(-3px);
  color: #c1e0fe;
}

.landing-button-left:focus {
  outline: 0;
}

.landing-button-left:active {
  transform: translateY(-0.5px);
}

@media (max-width: 1565px) {
  .landing {
    width: 40%;
  }
  .landing-header {
    margin-top: -15px;
  }
  .landing-button-right {
    margin-right: 50px;
  }
  .landing-button-left {
    margin-left: 50px;
  }
}

@media (max-width: 1200px) {
  .landing {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .landing-header {
    font-size: 100px;
    padding: 15px;
  }

  .landing-button-right {
    margin-right: 15px;
    width: 40%;
  }
  .landing-button-left {
    margin-left: 15px;
    width: 40%;
  }
}

@media (max-width: 420px) {
  .landing {
    width: 90%;
  }
  .landing-header {
    font-size: 80px;
    padding: 20px;
  }
  .landing-text {
    font-size: 15px;
  }

  .landing-button-right {
    margin-right: 15px;
    width: 40%;
  }
  .landing-button-left {
    margin-left: 15px;
    width: 40%;
  }
}
